body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }

.tamagotchi-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

#tamagotchiImg {
    width: 200px; /* Ajusta el tamaño de la imagen del Tamagotchi */
    height: 200px; /* Ajusta el tamaño de la imagen del Tamagotchi */
    margin-bottom: 20px; /* Espacio entre la imagen y el mensaje */
    animation: bounce 0.6s ease infinite;
  }

#mensaje {
    margin-bottom: 20px; /* Espacio entre el mensaje y el contador */
  }

#contador {
    font-size: 24px; /* Ajusta el tamaño del contador */
    border: 2px solid #333; /* Agrega un borde al contador */
    padding: 10px; /* Espacio interior del contador */
    border-radius: 5px; /* Redondea las esquinas del contador */
  }

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

